.top-panel
    img(src="assets/logo.png").logo
    img(src="assets/back.svg" title="Back" onclick="Tabs.change('Login')").exit
.scoreboard-wrapper
    table
        tbody#scoreboard
            tr
                td
                    img(src="assets/place.svg" title="Place").icon
                td
                    img(src="assets/user.svg" title="User").icon
                td
                    img(src="assets/points.svg" title="Points").icon
    