.login-wrapper
    .title Elon CTF
    .form.gradient-border
        input#login-field(type="text" name="login" placeholder="Login")
        input#password-field(type="password" name="passw" placeholder="Password")
        button#login-button(type="submit" value="Sign in") Login