<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent" id="bar")
        link(rel="shortcut icon" type="image/png" href="assets/logo.png")
        title Elon CTF
    body
        div(view="background")
        .page
            .tab-content(view="login")
            .tab-content(view="registration")
            .tab-content(view="tasks")
            .tab-content(view="scoreboard")
        